DATABASE_URL=
NEXT_PUBLIC_HOST=
FOLO_FEED_ID=
FOLO_USER_ID=
CLOUDFLARE_ANALYTICS_TOKEN=
GOOGLE_ANALYTICS_ID=
GOOGLE_TAG_MANAGER_ID=
REVALIDATE_SECRET=
NEXT_PUBLIC_ALGOLIA_APP_ID=
NEXT_PUBLIC_ALGOLIA_API_KEY=
NEXT_PUBLIC_ALGOLIA_INDEX_NAME=
ALGOLIA_WRITE_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
VERCEL_DEPLOY_HOOK=